<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Rive Test</title>
  <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
  <style>
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
}
#riveCanvas {
  width: 50%;
  max-width: 1024px;
  height: auto;
  display: block;
  opacity: 0;                /* ← 最初は非表示 */
  transition: opacity 2.0s;  /* ← フェードイン */

}
  </style>
</head>
<body>
  <canvas id="riveCanvas" width="1024" height="1600"></canvas>

<script>
  const canvas = document.getElementById("riveCanvas");

  // 先に変数を宣言しておく
  let riveInstance = null;

  riveInstance = new rive.Rive({
    src: "{{ url_for('static', filename='animations/icon_anime.riv') }}",
    canvas: canvas,
    autoplay: false, // ← 自動再生はOFF
    artboard: "Artboard",
    onLoad: () => {
      console.log("Rive loaded!");

      // 読み込み完了後に再生開始
      riveInstance.play();

      // フェードイン（必要なら）
      requestAnimationFrame(() => {
        canvas.style.opacity = 1;
      });

      // ページ遷移（5秒後）
      setTimeout(() => {
        window.location.href = "{{ url_for('index') }}";
      }, 7000);
    }
  });
</script>

</body>

</html>
