<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>SHIFUTON/opening</title>
  <script src="https://unpkg.com/@rive-app/canvas@2.9.1"></script>
  <style>
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
}
#riveCanvas {
  width: 50%;
  max-width: 1024px;
  height: auto;
  display: block;
  /* opacity: 0;               
  transition: opacity 5s ease;   */
}
  </style>
</head>
<body>
  <canvas id="riveCanvas" width="1024" height="1600"></canvas>

<script>

  // 先に変数を宣言しておく
  let riveInstance = null;

  riveInstance = new rive.Rive({
    src: "{{ url_for('static', filename='animations/icon_anime.riv') }}",
    canvas: document.getElementById("riveCanvas"),    
    autoplay: true, // ← 自動再生はOFF
    // artboard: "Artboard",
    stateMachines: ["State Machine 1"], // ← State Machine を指定   
    onLoad: () => {
      console.log("Rive loaded!");
            // Input を取得
      const inputs = riveInstance.stateMachineInputs("State Machine 1");
      const startTrigger = inputs.find(i => i.name === "Trigger 1");

      // トリガーを発火してアニメ開始
      if (startTrigger) {
        startTrigger.fire();
      }

      // ページ遷移（5秒後）
      setTimeout(() => {
        window.location.href = "{{ url_for('index') }}";
      }, 7000);
    }
  });
</script>

</body>

</html>
